<mat-toolbar class="mi-navbar" color="primary">
  <div fxLayout="row" width="100%" height="89px" fxLayoutGap="300px">
    <div>
      <img src="../../assets/img/logobw.png" width="200px" height="89px" alt="">
    </div>
    <div fxLayout="column">
       <p> Alquiler y venta de casas y departamentos en Monte Hermoso</p>
       <div fxLayout="row" fxLayoutGap="20px">
          <span class="vertical-centered"><i class="material-icons" style="margin-right:5px; color:#ff5722">phone</i> 0291-4556677</span>
          <span class="vertical-centered"><i class="material-icons" style="margin-right:5px; color:#ff5722">stay_current_portrait</i> 0291-1545565758</span>
       </div>


    </div>
    <div class="navigation vertical-centered">
      <button mat-button *ngIf="isAuthenticated" class="nav-button" (click)="onClickPropiedades()" [disabled]="isLoading"><i class="material-icons">build</i> Administración</button>
      <button mat-button class="nav-button" (click)="onClickLog()" [disabled]="isLoading"><i class="material-icons">person</i> {{button}}</button>
    </div>
  </div>
</mat-toolbar>
