<div class="main-container" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="row"
       fxLayout.xs="column"
       fxFlexFill
  >
    <div fxFlex="65" class="imagenes-container">
      <img class="imagen" src="{{ ( propiedad$ | async )?.main_foto }}" alt="">
    </div>
    <div fxFlex="35" fxLayout="column" fxLayoutGap="30px" class="details-container">
      <div fxLayout="column" fxLayoutGap="20px">
        <div class="titulo-propiedad">{{ ( propiedad$ | async )?.titulo }}</div>
        <div class="titulo-tipo-propiedad">{{ ( propiedad$ | async )?.tipo | uppercase }} </div>
      </div>
      <div fxLayout="column" fxLayoutGap="20px" class="features-container">
        <div fxLayout="row" fxLayoutGap="40px">
          <app-feature [icon]="'people'" [feature]="'Personas'" [cant]="( propiedad$ | async )?.max_personas"></app-feature>
          <app-feature [icon]="'local_hotel'" [feature]="'Habitaciones'" [cant]="( propiedad$ | async )?.bedrooms"></app-feature>
        </div>
        <div fxLayout="row" fxLayoutGap="40px">
          <app-feature [icon]="'wc'" [feature]="'Baños'" [cant]="( propiedad$ | async )?.bathrooms"></app-feature>
          <app-feature [icon]="'drive_eta'" [feature]="'Garages'" [cant]="( propiedad$ | async )?.garages"></app-feature>
        </div>
        <div fxLayout="row" fxLayoutGap="40px">
          <app-feature [icon]="'pool'" [feature]="'Distancia al mar'" [cant]="( propiedad$ | async )?.distance_to_sea" [suffix]="'mts'"></app-feature>
          <app-feature [icon]="'location_city'" [feature]="'Distancia al centro'" [cant]="( propiedad$ | async )?.distance_to_center" [suffix]="'mts'"></app-feature>
        </div>
        <div class="buttons-container" fxLayout="row" fxLayoutGap="20px">
          <button class="button-properties" mat-raised-button color="primary">
            <div fxLayout="row" fxLayoutGap="10px" class="vertical-centered">
              <i class="material-icons">email</i>
              <span>Consultar</span>
            </div>
          </button>
          <button class="button-properties" mat-raised-button color="primary">
            <div fxLayout="row" fxLayoutGap="10px" class="vertical-centered">
              <i class="material-icons">place</i>
              <span>Ver en mapa</span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
